* {
    margin: 0;    
}
body {
    height: 100%;
    font-family: Arial, sans-serif;
}


.content {
    min-height: calc(100vh - 100px);
  }
.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 16px 30px;
    line-height: 28px;
}

.buttons a{
    margin-left: 15px;
    font-size: 13px; 
    cursor: pointer;   
}

.buttons a:hover {
    opacity: 0.8;
    text-decoration: underline;
}

.buttons img{
    margin-right: 7px;
    margin-left: 22px; 
    width: 16px;
    height: 16px;
    opacity: 0.75;
    cursor: pointer;   
}

.buttons img:hover{
    opacity: 1;
}

.header .buttons .enter-button {
    margin-left: 15px;
    font-weight: bold;
    color: white;
    border: 1px solid #4285f4;
    border-radius: 2px;   
    padding: 0 12px;
    height: 30px;
    width: 66px;
    background-color: #4585F3;
}

.search {    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 89px;
}

.search img {
    margin-top: 109px;
    margin-bottom: 28px;
    height: 92px;
    width: 272px;
}

.search .search-bar {
    width: 584px;
    height: 44px;
    border: 1px solid #C8C8C8;
    -webkit-box-shadow: 0px 1px 0px 0px rgb(206, 205, 205);
    -moz-box-shadow: 0px 1px 0px 0px rgb(206, 205, 205);
    box-shadow: 0px 1px 0px 0px rgb(206, 205, 205);
}

.search .search-bar:hover {    
    -webkit-box-shadow: -1px 1px 3px 1px rgba(206, 205, 205,0.75);
    -moz-box-shadow: -1px 1px 3px 1px rgba(206, 205, 205,0.75);
    box-shadow: -1px 1px 3px 1px rgba(206, 205, 205,0.75);
}

.search .search-bar input {
    margin-left: 16px;
    height: 42px;
    width: 489px;
    border: 0px;
    outline:none;
    font-weight: 400;
    font-size: 16px;
    line-height: 34px;
}

.search .search-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.search .search-bar .keyboard {
    margin: 0;
    height: 11px;
    width: 19px;
    opacity: 0.6;
    padding: 0 8px;
}


.search .search-bar .keyboard:hover {
    margin: 0;
    height: 11px;
    width: 19px;
    opacity: 1;
}

.search .search-bar .voice {
    margin: 0;
    height: 23px;
    width: 18px;
    padding: 0 8px;
}

.search .buttons button{
    height: 36px;
    line-height: 27px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    cursor: default;    
    font-size: 13px;
    font-weight: bold;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
}

.search .buttons button:hover {
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#f1f1f1));
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-color: #f8f8f8;
    background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
    background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;
}

.search .another-languages {
    
    font-style: normal;
    font-size: small;
    line-height: 28px;
    font-weight: 400;
}
.search .another-languages a {
    text-decoration: none;
}

footer {
    background-color: #F2F2F2;
    color: rgba(0,0,0,.54);
}

footer .country {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    line-height: 40px;
    margin-left: 31px;
    border-top: 1px solid #e4e4e4; 
}

footer .information {
    border-top: 1px solid #e4e4e4; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
}

footer .information .information-left-part {
    margin-left: 31px;
}

footer .information .information-left-part a {
    margin-right: 30px;
}

footer .information .information-right-part {
    margin-right: 31px;
}

footer .information .information-right-part a {
    margin-right: 30px;
}