* {
    margin: 0;    
}
body {
    font-family: Arial, sans-serif;
}
.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 16px 30px;
    line-height: 28px;
}

.buttons a{
    margin-left: 15px;
    font-size: 13px; 
    cursor: pointer;   
}

.buttons a:hover {
    opacity: 0.8;
    text-decoration: underline;
}

.buttons img{
    margin-right: 7px;
    margin-left: 22px; 
    width: 16px;
    height: 16px;
    opacity: 0.75;
    cursor: pointer;   
}

.buttons img:hover{
    opacity: 1;
}

.header .buttons .enter-button {
    margin-left: 15px;
    font-weight: bold;
    color: white;
    border: 1px solid #4285f4;
    border-radius: 2px;   
    padding: 0 12px;
    height: 30px;
    width: 66px;
    background-color: #4585F3;
}
